Source: yoyo-wallpapers
Section: devel
Priority: optional
Maintainer: YoyoOS <support@yoyoos.com>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules
Standards-Version: 4.5.0
Homepage: https://yoyoos.com

Package: yoyo-wallpapers
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: YoyoOS Wallpapers
